spring:
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

    hibernate:
      ddl-auto: validate
  datasource:
    hikari: ## default connection pool
      connectionTimeout: 2000
      maximumPoolSize: 5
    ## PostgreSQL
    url: jdbc:postgresql://localhost:5433/db
    username: dbuser
    password: changeit


# swagger-ui custom path
  springdoc:
    swagger-ui:
      path: /swagger-ui.html
